.button {
  display: inline-block;
  text-align: center;
  -fx-text-alignment: center;
  -fx-padding: 10 20 10 20;
  -fx-font-size: 16px;
  /* -fx-background-color: -fx-accent; */
  padding: 10 20 10 20;
  font-size: 16px;
  /* background-color: -fx-accent; */
}
