#createconfbtn {
  -fx-padding: 10 20 10 20;
  -fx-font-size: 16px;
  /* -fx-background-color: -fx-accent; */
  padding: 10 20 10 20;
  font-size: 16px;
  /* background-color: -fx-accent; */
}

#createconfbtn {
  -fx-base: -fx-accent;
  -fx-background-color: -fx-accent;
  background-color: -fx-accent;
}

#createconfbtn .arrow {
  -fx-background-color: white;
  background-color: white;
}

/*
.menu-button .menu-item .label {
  -fx-text-fill: lightgray;
}

.menu-button .menu-item:focused {
  -fx-background-color: derive(-fx-base, 100%);
  background-color: derive(-fx-base, 100%);
}

.menu-button .menu-item:focused .label {
  -fx-text-fill: white;
}
*/
